{
    "device_code": "DNG_001",
    "pppoe": [
        {
            "username": "dng_gftth_nestgroupctt0",
            "password": "4EB9Y8",
            "max_session": 36,
            "interface": "enp1s0f0"
        }
    ],
    "auto_start": true
}